@import './variables.scss';

page {
  height:100%;
  background: $pageBg;
}

.gray-icon {
  color: $iconColor;
}
.blue-icon {
  color: $light-blue;
}

.placeholder-color {
  color: $placeholderColor;
}

#add .release-button {
  height: 100rpx;
  width: 90%;
  line-height: 95rpx;
  border: none;
  background: $gray-blue;
  color: $white;
  //border-radius: 60rpx;
}

#index .search-button {
  height: 80rpx;
  width: 100%;
  text-align: center;
  line-height: 80rpx;
  font-size: 32rpx;
}



