@import "./variables.scss";
@import "./mixin.scss";
page {
  height:100%;
  background: $pageBg;
}

.gray-icon {
  color: $iconColor;
}
.blue-icon {
  color: $light-blue;
}

.placeholder-color {
  color: $placeholderColor;
}

.btn-hover {
  opacity: 0.7;
}

button::after {
  border: 0;
}

.choose-hover {
  background-color: rgba(240, 240, 240, 0.5);
  opacity: 0.7;
}

.tab-hover {
  background-color: rgba(240, 240, 240, 0.5);
  opacity: 0.7;
}

/* 单独页面的自定义 */
#index {
  .card {
    @include height-rpx-width-percent(360, 98%);
    &:nth-last-child(2) {
      @include border-radius-bottom(0);
      .footer {
        @include border-radius-bottom(0);
      }
    }
  }
}

#list {
  .card {
    @include height-rpx-width-percent(360, 96%);
    margin-left: 2%;
    &:nth-last-child(3) {
      @include border-radius-bottom(0);
      .footer {
        @include border-radius-bottom(0);
      }
    }
  }
}
