page {
  height:100%;
  background: #F0F0F0;
}

.gray-icon {
  color: #DADADA;
}

.placeholder-color {
  color: #E0E0E0;
}

#add .release-button {
  height: 100rpx;
  width: 90%;
  border: none;
  background: #76ABEF;
  color: #ffffff;
  border-radius: 60rpx;
}

#index .search-button {
  height: 80rpx;
  width: 100%;
  text-align: center;
  line-height: 80rpx;
}




