$blue: #324157;
$light-blue: #3B8CDD;
$red: #C03639;
$white: #ffffff;

$pageBg: #F0F0F0;
$border: #EDEDED;
$boxShadow: #E6E6E6;
$tipColor: #989898;
$inputColor: #313131;
$titleColor: #313131;
$cardHeaderBgColor: #FAFAFA;
$cardHeaderLineColor: $light-blue;
$cardHeaderSummaryColor: #313131;
$cardShareColor: #F0F0F0;

$startColor: #3D94FE;
$roadColor: #DADADA;
$endColor: #C7B685;
$timeColor: #989898;

$percent-100: 100%;


