$gray-blue: #76ABEF;
$light-blue: #3D94FE;
$dark-blue: #3B8CDD;
$dark-yellow: #EBC700;
$red: #fa4d5c;
$white: #ffffff;

$unimpColor: #6B6B6B;

$pageBg: #F0F0F0;

$tabHover: #F0F0F0;
$btnHover: #FAFAFA;

$navColor: #3a3a3a;
$borderColor: #EDEDED;
$borderDeepColor: #EDEDED;
$boxShadowColor: #E6E6E6;
$iconColor: #DADADA;
$arrowColor: #DADADA;
$placeholderColor: #E0E0E0;
$tipColor: #989898;
$inputColor: #3a3a3a;
$titleColor: #313131;
$refreshColor: #6B6B6B;
$inputUnimpColor: $unimpColor;

$priceColor: #DF6681;

$cardHeaderBgColor: #FAFAFA;
$cardHeaderSummaryColor: #ABABAB;
$cardShareColor: #F0F0F0;
$cardBtnFontColor: #3a3a3a;

$startColor: $light-blue;
$roadColor: #ABABAB;
$endColor: #C7B685;
$timeColor: $unimpColor;

$percent-100: 100%;

$detailBgColor: #FAFAFA;
$shareBg: #F0F0F0;

$releaseCellBgColor: #FAFAFA;


